<h1 id="page_title">Stuff I've written</h1>

<p id="admin_button" >
  <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
  <% end %>
</p>

<div id="posts_wrapper" class="skinny_wrapper">
  <% @posts.each do |post| %>
    <div class="post">
    <p class="data"><%= post.created_at.strftime("%A, %b, %d") %></p>
    <h2><a href="#"><%= link_to post.title, post %></a></h3>
    <hr>
  </div>
<% end %>

<%= will_paginate @posts %>
</div>
